/* Global Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato, sans-serif";
    background-color: #fafafa;
    color: #222;
    line-height: 1.6;
}

.hero, 
.skill, 
.projects {
    background-color: #f9f9f9;
}

.about, 
.experience, 
.contact, 
.footer{
    background-color: #e7580b;
}

.divider hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 40px auto;
    width: 80%;
}

/* Section Specific Styles */
.navbar {
    background-color: #ffffff;
    padding: 1rem 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list {
    display: flex;
   list-style: none;
   gap: 1rem;
}

.nav-btn {
    background: none;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    border-radius: 6px;
}

.nav-btn a {
    text-decoration: none;
    color: #000;
    font-weight: bolder;
    font-family: "JetBrains Mono", monospace
}

.nav-btn:hover {
    border-color: #e7580b;
    background-color: #fff3e0;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 10%;
    min-height: 80vh;
}

.hero-content {
    flex:1;
}

#intro {
    font-size: 2.5rem;
    font-family: "JetBrains Mono", monospace;
    font-weight: 700;
    color: #222;
}

.name {
    color: #e7580b
}

.hero-text {
    font-size: 1.2rem;
    max-width: 500px;
    margin-top: 1.2rem;
}
.hero::after {
    content: ""; 
    flex:1;
    height: 300px;
    background:repeating-linear-gradient(45deg, #e7580b, #e7580b,10px, transparent 10px, transparent 20px);
    margin-left: 2rem;
    border-radius: 10px;
}

.about {
     padding: 4rem 10%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     color: #111;
}
.about-header {
    text-align: center;
    margin-bottom: 2rem;
}

.profile-img{
    border: 3px solid #000;
    border-radius: 10px;
    margin-top: 1rem;
}

.about-me {
    background-color: #fff;
    padding: 2rem;
    border-radius: 12px;
    max-width: 700px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.about-me p {
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.3;
    font-family: "JetBrains Mono", monospace;
}

